@import '../variables.scss';
.sidebar {
    position: relative;
    height: 100%;
    width: 245px;
    background-color: white;
    color: $color-primary-dark;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
    z-index: 999;
    text-align: center; /* added */
    padding-top: 2rem;
    &.open {
        transform: translateX(0);
    }
    &.close {
        transform: translateX(-245px);
    }
}

/* Styling for Link elements inside sidebar */
.links {
    span.link {
        color: black;
        font-size: 12px;
        font-weight: 600;
        text-decoration: none;
        justify-content: space-between;
        padding: 1em;
        display: flex;
        align-items: center;
        margin-right: 1em;
        margin-left: 1em;
        border-radius: 10px;
        transition: background-color 0.3s ease-in-out;
        
        &.active{
            background: $color-primary-dark;
            color: white;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            // Set image color to white
            img{
                filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
            }
        }
        button {
            background: none;
            border: none;
            outline: none;
            cursor: pointer;
            margin-left: 1em;
            color: inherit;
        }
    }
    a {
        display: flex;
        align-items: center;
        width: 100%;
        img{
            width: 20px;
            height: 20px;
            margin-right: 1em;
        }
    }
    span.subLink {
        padding-left: 2em;
    }
}
