// Define breakpoints
$xs: 320px;
$sm: 576px;
$md: 768px;
$lg: 1024px;

// Define colors main theme blue
$color-primary: #2a9d8f;
$color-primary-light: #6ec5bf;
$color-primary-dark: #1e6f67;
$color-primary-contrast: #F5F5F5;