.breadcrumb {
    padding: 10px 0;
    list-style: none;
    // background-color: #f8f9fa;
    border-radius: 4px;
  
    .breadcrumbItem {
      display: inline-block;
  
      &:not(:last-child)::after {
        content: ">";
        padding: 0 8px;
        color: #6c757d;
      }
  
      a {
        color: #007bff;
        text-decoration: none;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }