@import './variables';

.cto__buttons {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 1em;
  padding-right: 1em;
  gap: 10px;
  z-index: 997;
  .cto__button {
    // Add vertical padding
    padding: 0.5em 1em;
    width: 12em;
    // Add animated border
    color: $color-primary-dark;
    // Set border to 1px solid $color-primary
    border: 1px solid $color-primary-dark;
    background-color: white;
    &.with__background {
        background-image: linear-gradient(to right, $color-secondary, $color-secondary-dark);
        color: white;
    }

    border-radius: 5px;

    @media screen and (max-width: $sm) {
        font-size: 12px;
    }

    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    span {
      margin: 0 0.5em;
    }
    img {
        // Set circle border
        border-radius: 50%;
    }
  }
}
