
@import './variables.scss';
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: white;

  &__logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .wrapper{
    background-color: #777;
    width: 100%;
    padding: 0 1em;
  }
  &__copy_rights{
    background-color: #333;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  &__links {
    display: flex;
    gap: 20px;
    
    a {
      color: #fff;
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.footer__info{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em 0;
  @media screen and (max-width: $md) {
    justify-content: center;
  }
  // Add space between .col
  .col {
    display: flex;
    margin-right: 1rem;
    flex-direction: column;
    .title {
      font-size: 18px;
      font-weight: bold;
      background-color: $color-secondary-dark;
      // Add border radius to top-left and top-right
      border-radius: 10px 10px 0 0;
      padding: 5px 1em;
      @media screen and (max-width: $sm) {
        font-size: 14px;
      }
      @media screen and (max-width: $md) {
        width: 100%;
      }
      text-align: center;
    }
    .content {
      background-color: white;
      color: $color-secondary-dark;
      padding: 0 1em;
      border-radius: 10px;
      @media screen and (max-width: $md) {
        width: 100%;
      }
    }
    iframe {
      border:none;
      overflow:hidden
    }
    @media screen and (max-width: $md) {
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}