@import "./variables.scss";
.header {
    li {
      display: flex;
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
    
    ul {
        display: flex;
        flex-direction: row;
    }
    img {
      margin-right: 5px;
    }
    ul.navbar__menu {
      align-items: center;
      margin-left: 2rem;
      list-style: none;
      @media (max-width: $md) {
        display: none;
      }
      @media (max-width: $lg) {
          margin-left: 0;
          margin-top: 1rem;
      }
    
}
}

nav.header__top {
    background-color: $color-primary-contrast;
    font-size: 14px;
    font-weight: 500;
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    ul.navbar__menu {
      .active {
        color: $color-primary;
      }
    }
    .info {
      flex-wrap: wrap;
      li {
        margin-bottom: 5px;
      }
    }

}

nav.navbar {
  display: flex;
  // Align items to the center
  align-items: center;
  padding: 1rem;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 3em;
  @media screen and (max-width:$md) {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar__logo {
    @media screen and (max-width: $md) {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .navbar__toggle {
    display: none;
    // Remove border and add border-radius
    border: none;
    border-radius: 5px;
    @media screen and (max-width: $md) {
      display: block;
      margin-top: 2rem;
    }
  }
}
