
@import './variables.scss';
.title {
  display: flex;
  // Set width to only cover content
  width: fit-content;
  @media screen and (max-width: $sm) {
      font-size: 12px;
  }
  &:hover {
      color: $color-secondary;
  }
}
.product__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    margin: 1rem 0;
    @media screen and (max-width: $md) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: $xs) {
        grid-template-columns: repeat(1, 1fr);
    }
}
.ProductCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  }

  .ProductCard__image {
    width: 90%;
    height: auto;
    background-size: cover;
    background-position: center;
    
  }

  .ProductCard__title {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .ProductCard__price {
    font-size: 1rem;
    font-weight: bold;
    color: green;
    margin-bottom: 0.5rem;
  }

  .ProductCard__description {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
  }
}
