@import "./variables.scss";
.section {
  padding: 20px;
//   margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  &.active {
    background-color: $color-primary-contrast;
  } 
  // align section title center
    .section__title {
        text-align: center;
        color: $color-primary-dark;
        display: flex;
        justify-content: center;
        align-items: center;

        & .section__icon {
            // Add styling for
            margin-right: 10px;
        }
    }
    .section__content {
        width: 100%;
    }
    .wrapper {
        border-radius: 10px;
    }
}
